*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    background-color: lightblue;
    background-image: url("../img/pattern.png");
    height: 200px;
}

.logo{
    width: 200px;
}

h1{
    font-size: 45px;
}

span{
    color: gray;
    font-size: 20px;
}

.booleaner{
    color: rgb(3, 192, 255);
}

p{
    font-size: 14px;
}