*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg{
    background-color: rgb(18, 99, 249);
    background-image: url("../img/pattern.png");
    height: 150px;
}

.logo{
    width: 250px;
    height: auto;
    margin-top: 70px;
}

h1{
    font-size: 50px;
    margin-top: 15px;
}

.subtitle{
    color: gray;
    font-size: 20px;
}

.booleaner{
    color: rgb(3, 192, 255);
}

.section{
    margin: 20px 0;
}

img{
    height: 450px;
}

.caption{
    font-size: 14px;
}

p{
    font-size: 20px;
}

.highlighted{
    background-color: yellow;
}

thead{
    background-color: blue;
}

th{
    color: white;
    text-align: left;
}

.bg-lightblue{
    background-color: lightblue;
}

.width{
    width: 60%;
    padding: 0;
}

td{
    padding: 10px 0;
}

.image{
    background-size: cover;
    height: 250px;
    width: 300px;
    margin: 10px 0;
}

.bg1{
    background-image: url("../img/monitor.jpg");
}

.bg2{
    background-image: url("../img/graph.jpg");
}

h2{
    color: white;
    padding: 10px 0 0 10px;
}

h3{
    color: gray;
}